  <%- include ('partials/navbar.ejs') %>
  
  <body>
    <div class="container">
        <h1 class="mt-3">Register</h1>
        <% if (messages && messages.length > 0) { %>
            <div class="alert alert-danger">
                <% messages.forEach(function(message) { %>
                    <p><%= message %></p>
                <% }); %>
            </div>
        <% } %>
        <form action="/register" method="POST" class="mt-4" enctype="multipart/form-data">
            <div class="form-group">
                <label for="userName">Username:</label>
                <input type="text" id="userName" name="userName" class="form-control" required 
                <% if (formData && formData.userName) { %> value="<%= formData.userName %>" <% } else { %> value="" <% } %>>
            </div>
            <div class="form-group">
                <label for="userEmail">Email:</label>
                <input type="userEmail" id="userEmail" name="userEmail" class="form-control" required 
                <% if (formData && formData.userEmail) { %> value="<%= formData.userEmail %>" <% } else { %> value="" <% } %>>
            </div>
            <div class="form-group">
                <label for="userPassword">Password:</label>
                <input type="password" id="userPassword" name="userPassword" class="form-control" required>
            </div>
            <div class="form-group">
            <label for="userImage">User Image:</label><br>
            <input type="file" id="userImage" name="userImage" accept="image/*" required><br><br>

            </div>  
            <div class="form-group">
                <label for="userRole">Role:</label>
                <select id="userRole" name="userRole" class="form-control" required>
                    <option value="user" <% if (formData && formData.userRole === 'user') { %> selected <% } %>>User</option>
                    <!-- <option value="admin" <% if (formData && formData.userRole === 'admin') { %> selected <% } %>>Admin</option> -->
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
        <style>

            .back{
              color: black; 
              text-decoration: none;
              background-color: #af9d81;
              padding: 5px 20px;
              border-radius: 10px;
            }
        
            .container {
                text-align: center;
                width: 500px; /* Full width */
                max-width: 500px; /* Max width for the form */
            }
            .form-group {
                margin-bottom: 50px; /* Space between form groups */
            }
            .form-control {
                width: 500px; /* Full width */
                height: 50px; /* Increase height for fatter input fields */
                padding: 15px; /* Increase padding for a fuller look */
                border-radius: 80px; /* Optional: round the corners */
            }
            </style>
    </div>
</body>
</html>